.card-widget.card-clock
  .card-glass
    .card-background
      .card-content
        #hexo_electric_clock
          img#card-clock-loading.entered.loading(src=loading, style='height: 120px; width: 100%;', data-ll-status='loading')
